.error{ background-color: #f8d1d1;}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}
.card-header{
    background-color:rgb(218, 152, 30)
}
.card-footer{
    background-color: rgb(187, 151, 83);
}
.card-body{
    background-color:rgb(187, 151, 83);
}
.h2{
    text-align: end;
}

.error{ background-color: #f8d1d1;}

.form-control{
    background-color: rgb(187, 151, 83);
    height: fit-content;
}
.col-sm-3{
    color: white;
    width: 40rem;
    margin-left: 25%;
}
h2{
    text-align: center;
}
